/* equal card height */
.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;
}

.titleSlider {
    font-size: 24px;
    font-weight: 700;
    color: #32323d;
    margin-bottom: 15px;
    text-transform: capitalize;
    padding-left: 0px;
}



.card-img-top img {
    transition: transform .5s;
}

.card-img-top img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.titleCardItem {
    font-size: 14px;
    font-weight: 500;
    color: #32323d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.45;
    margin: 8px 0 5px;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

a:hover * {
    color: #6e55b4
}

.card {
    border: none;
}

.sliderControl {
    text-align: right;
    padding-right: 0px;
}